<main>
  <h1>Mentions légales</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio vitae
    quisquam repellat itaque eum facilis obcaecati exercitationem, nesciunt
    laborum. Incidunt consectetur cum, repudiandae at optio laudantium tempore
    quas exercitationem nam?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio vitae
    quisquam repellat itaque eum facilis obcaecati exercitationem, nesciunt
    laborum. Incidunt consectetur cum, repudiandae at optio laudantium tempore
    quas exercitationem nam?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio vitae
    quisquam repellat itaque eum facilis obcaecati exercitationem, nesciunt
    laborum. Incidunt consectetur cum, repudiandae at optio laudantium tempore
    quas exercitationem nam?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio vitae
    quisquam repellat itaque eum facilis obcaecati exercitationem, nesciunt
    laborum. Incidunt consectetur cum, repudiandae at optio laudantium tempore
    quas exercitationem nam?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio vitae
    quisquam repellat itaque eum facilis obcaecati exercitationem, nesciunt
    laborum. Incidunt consectetur cum, repudiandae at optio laudantium tempore
    quas exercitationem nam?
  </p>

</main>
